
nav {
	background-color: #1866ed;
	height: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
}

nav ul li {
	list-style-type: none;
	width:250px;
	float:left; 
	border-right: 3px solid #033285;
	text-align: center;
}

li a {
	text-decoration: none;
	color:white;
	line-height: 30px;
	display: block;
}

.trenutni {
	background-color:#3379f5; 
}
a:hover {
	background-color: #3379f5;
}
label {
	float: left;
	padding-right: 12px;
	text-align: right;
	display: inline-block;
    width:430px;
    margin-top: 25px;
    clear: left;
    font-size: 25px;
    height: 30px;
}
input, select {
	margin-top: 25px;
	height: 30px;
	width: 20%;
}

.forma {
	width: 100%;
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: Tahoma, Geneva, sans-serif;
  
}