td {
	text-align: center;
	width: 120px;
	
}
table {
  position: absolute;
  top: 10%;
  left: 3%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 30px;
}

tr:hover{
	border: 2px solid black;
}
nav {
	background-color: #1866ed;
	height: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
}

nav ul li {
	list-style-type: none;
	width:250px;
	float:left; 
	border-right: 3px solid #033285;
	text-align: center;
}

li a {
	text-decoration: none;
	color:white;
	line-height: 30px;
	display: block;
}

.trenutni {
	background-color:#3379f5; 
}
a:hover {
	background-color: #3379f5;
}