table {
    position: absolute;
    top:10%;
    border-collapse: collapse;  
    font-family: Arial, Helvetica, sans-serif;

}

th {
    width: 70px;
}

tr {
    height: 60px;
}

td {
    border: 1px solid black;
    border-right: none;
    background-color: #e6e6e6;
    max-width: 32px;
    min-width: 16px;
    text-align: center;
    padding-bottom: 16px;
}

td:last-child {
    border-right:1px solid;

}

td:nth-child(odd) {
    border-left-style: dashed;
}
.sest {
	border-right-style: solid 1px;
	background-color: #dee6ef;
    border-left-style: solid !important ;
}
.tris {
	background-color: #dee6ef;
}
.tip {
    font-size: 12px;
}

.tris + td {
	 border-left-style: dashed;
}
.tras + td {
	border-left-style: dashed ;
	border-right-style: solid 1px;
}
.tri {
	border-left-style: solid 1px;
	border-right-style: solid 1px;
	background-color: #dee6ef;
}

}
.naziv{
   
    padding: 0px;
}

.sest + td {
    border-left-style: solid;
}

.sat{
    height: 16px;
}

.sat td{
    border: none;
    background-color: inherit;
    padding-bottom: 0px;
    transform: translateX(-20px);
}


nav {
    background-color: #1866ed;
    height: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    
}

nav ul li {
    list-style-type: none;
    width:250px;
    float:left; 
    border-right: 3px solid #033285;
    text-align: center;
    
}

li a {
    text-decoration: none;
    color:white;
    line-height: 30px;
    display: block;
    
}

.trenutni {
    background-color:#3379f5; 
}
a:hover {
    background-color: #3379f5;
}